<?xml version='1.0' encoding='utf-8'?>
<widget id="com.benco.org" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Oramla</name>
    <description>
        The leading platform for globle trade. We connect and serve millions of buyers and sellers around the world
    </description>
    <author email="dev@cordova.apache.org" href="http://cordova.io">
        Mo-pal Oramla Team
    </author>
    <content src="index.html" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <platform name="android">
        <allow-intent href="market:*" />
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
    </platform>
</widget>
